.gallary {
  text-align: center;
}

.gallary-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  margin-inline: 10px;
}

.gallary-container img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.gallary-container img:hover {
  opacity: 0.8;
}
