.gallary {
    text-align: center;
  }
  
  .gallary-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjust as needed */
    gap: 10px; /* Adjust gap between grid items */
  }
  
  .gallary-container img {
    width: 100%; /* Ensure images fill their grid cells */
    height: auto;
    cursor: pointer; /* Add cursor pointer for clickable images */
  }
  
  .gallary-container img:hover {
    opacity: 0.8; /* Reduce opacity on hover */
  }
  